.heading {
  display: none !important;
}

.post-content {

  @apply p-[1.6rem] flex flex-col gap-[0.5rem] rounded-md shadow-post;
  h2 {
    @apply text-[2rem];
  }
  h3 {
    @apply text-lg;
  }
  h2,
  p {
    @apply text-md;
  }
  ul,
  ol {
    @apply px-[2rem];
  }
  blockquote {
    @apply w-full text-center italic p-[1rem];
    p {
      @apply text-sm;
    }
  }

  figure.image {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  figure.table {
    @apply w-full flex items-center justify-center mt-[5rem];
    table {
      @apply w-[80%];
      tbody {
        tr td {
          @apply border border-gray-900 p-[0.8rem] break-words;
        }
      }
    }
  }
}
