@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-roboto;
}

body {
  position: relative;
}
#root {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

input,
section,
option {
  @apply font-sans;
}


.padding-page{
  @apply  xs:gap-[1rem] px-[3.2rem] xs:px-[1rem] py-[2rem];
}