:root {
  --tw-light: #FFFFFF;
  --tw-light-active:#CCCCCC;
  --tw-light-dark:#999999;
  
  --tw-dark: #13161b;
  --tw-dark-active: #3A3A3A;
  --tw-dark-gray: #6B6B6B;
  --tw-dark-light: #9C9C9C;

  --tw-gray-100: #FAFAFA;
  --tw-gray-200: #F7F7F7;
  --tw-gray-300: #F0F0F1;
  --tw-gray-400: #ECECED;
  --tw-gray-500: #CECFD2;
  --tw-gray-600: #94979C;
  --tw-gray-700: #85888E;
  --tw-gray-800: #61656C;
  --tw-gray-900: #373A41;
}
